h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 1em 0;
  font-weight: normal;
  line-height: 1.5;
}

h1 {
  font-size: 1.5em;
  font-family: var(--font-fjalla);
}

h2 {
  font-size: 1.2em;
  font-family: var(--font-regular);
  color: rgb(var(--theme-gray-18));
}

h3 {
  font-size: 1.1em;
  font-family: var(--font-regular);
  color: rgb(var(--theme-gray-18));
}

h4 {
  font-size: 1em;
  font-family: var(--font-regular);
  color: rgb(var(--theme-gray-18));
}

h5 {
  font-size: 1em;
  font-family: var(--font-bold);
  color: rgb(var(--theme-gray-18));
}

h6 {
  font-size: 0.75em;
  font-family: var(--font-bold);
  color: rgb(var(--theme-gray-18));
}

p {
  color: rgb(var(--theme-gray-16));
  margin: 0;
  line-height: 1.5;
}

p:not(:last-child) {
  margin-bottom: 0.5em;
}

.p-wrap {
  padding: 0.5em 0;
}

hr {
  border: 0;
  border-top: 1px solid rgb(var(--theme-gray-02));
  border-radius: var(--theme-radius);
  margin: 1em 0;
  clear: both;
}

b,
caption,
strong {
  color: rgb(var(--theme-style-text));
  font-family: var(--font-bold);
}

a {
  color: rgb(var(--theme-gray-16));
  text-decoration: none;
}

a:link,
a:visited {
  color: rgb(var(--theme-gray-18));
}

a:focus {
  text-decoration: none;
  outline: none;
}

a:hover {
  color: rgb(var(--theme-style-text));
  text-decoration: underline;
}

a:active {
  color: rgb(var(--theme-style-text));
}

.a-underline {
  padding-bottom: var(--layout-line-width);
  border-bottom-width: calc(var(--layout-line-width) / 2);
  border-bottom-style: solid;
  border-bottom-color: rgb(var(--theme-gray-06));
  transition: color var(--layout-timing-extra-fast), border-color var(--layout-timing-extra-fast);
}

.a-underline:hover {
  text-decoration: none;
  border-bottom-color: rgb(var(--theme-accent));
}

ol,
ul {
  margin: 0;
  padding: 0 0 0 1.5em;
}

ol:not(:last-child),
ul:not(:last-child) {
  margin-bottom: 1em;
}

li {
  margin: 0;
}

li>ul,
li>ol {
  margin: 0;
}

li:not(:last-child) {
  margin-bottom: 0.5em;
}

li>ul:not(:last-child),
li>ol:not(:last-child) {
  margin-bottom: 0.5em;
}

table {
  border: 0;
  margin: 0 0 1em;
  padding: 0;
  width: 100%;
  border-spacing: 0;
}

table thead tr td,
table thead tr th {
  background-color: rgb(var(--theme-gray-03));
  border: 0;
  border-bottom: 1px solid rgb(var(--theme-gray-04));
  padding: 0.5em;
  margin: 0;
  text-align: left;
  font-family: var(--font-bold);
  box-sizing: border-box;
}

table tr:nth-child(odd) {
  background-color: rgb(var(--theme-gray-02));
}

table tbody tr td,
table tbody tr th {
  padding: 0.25em 0.5em;
  margin: 0;
  border: 0;
  text-align: left;
  box-sizing: border-box;
}
